<nav class="navbar navbar-dark navbar-expand-lg portfolio-navbar main">
    <div class="container"><a class="navbar-brand logo" [routerLink]="['/home']" routerLinkActive="router-link-active"><strong>FabStitch</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active text-center">
                  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a>
                </li> 

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/adddesign']" routerLinkActive="router-link-active">Add Design</a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard</a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/browsecloth']" routerLinkActive="router-link-active">Browse Cloth</a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/browsedesign']" routerLinkActive="router-link-active">Browse Design</a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/browsedesigner']" routerLinkActive="router-link-active">Browse Designer</a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/ddash']" routerLinkActive="router-link-active">Designer Dashboard</a>
                </li>

                <li class="nav-item active text-center">
                    <a class="nav-link" [routerLink]="['/dlogin']" routerLinkActive="router-link-active">Designer Login</a>
                </li>
        
                <li class="nav-item active text-center">
                    <a class="nav-link" *ngIf="!loggedin" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login </a>
                </li>
        
                <li class="nav-item active text-center">
                    <a class="nav-link" *ngIf="!loggedin" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register  </a>
                </li>
        
                <li class="nav-item active text-center">
                  <a class="nav-link" *ngIf="loggedin" (click)="logout()" [routerLink]="['/registration']" routerLinkActive="router-link-active" >Log out  </a>
                </li> 
            </ul>
        </div>
    </div>
  </nav>