<nav class="navbar navbar-dark navbar-expand-lg portfolio-navbar main">
    <div class="container"><a class="navbar-brand logo" [routerLink]="['/home']" routerLinkActive="router-link-active"><strong>FabStitch</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navbarNav">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active text-center">
                  <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home </a>
                </li>
                <li class="nav-item active text-center" *ngIf="!userservice.loggedin">
                    <a class="nav-link" [routerLink]="['/register']" routerLinkActive="router-link-active" >Register</a>
                </li>

                <li class="nav-item active text-center" *ngIf="userservice.isadmin">
                    <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin Dashboard</a>
                </li>
                <li class="nav-item active text-center" *ngIf="userservice.loggedin">
                    <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >User Dashboard</a>
                </li>

                <li class="nav-item active text-center" *ngIf="userservice.loggedin">
                    <a class="nav-link" (click)="logout()" >Logout</a>
                </li>
                <li class="nav-item active text-center" *ngIf="!userservice.loggedin">
                    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login </a>
                </li> 
            </ul>
        </div>
    </div>
  </nav>