<div class="container-fluid">
    <div class="row">
        <div class="col-2 sidebar text-center">
            <!-- <img [src]="'assets/img/testimonials-1.jpg'" class="rounded-circle img-fluid" style="height: 10rem;"> -->
            <h4>Hello, {{designer.name}}</h4>
            <h4>{{designer.email}}</h4>
            <hr>

            <!-- <button mat-button class="btn-block mt-3" (click)="toggleOrderform()" style="background-color: rgba(240, 248, 255, 0.1);">
                New Order
            </button>
            <button mat-button class="btn-block mt-3" (click)="toggleEditform()" style="background-color: rgba(240, 248, 255, 0.1);">
                Update Profile
            </button>
            <button mat-button class="btn-block mt-3" (click)="toggleShowOrders()" style="background-color: rgba(240, 248, 255, 0.1);">
                Manage Orders
            </button> -->

        </div>
        <div class="col-10 panel">
            <div class="row justify-content-center">
                <div class="col-11">
                    <h1>Designer's Dashboard</h1>
                    <hr>
                        
                    <app-chat *ngIf="showChat" [user] = "designer" [recId]="'5ec137bba2599622c4be4f00'"></app-chat>
                </div>
            </div>
        </div>
    </div>
</div>

<button mat-button></button>