<div class="container">
    <mat-card class="mt-5" *ngFor="let cloth of cloths">
        <mat-card-content class="card-body">
            <div class="row">
                <div class="col-md-6 img-div" [style.backgroundImage]="'url(http://localhost:3000/'+cloth.image+')'">
                    

                </div>
                <div class="col-md-6">
                   <p>
                    {{cloth.name}}
                   </p>
                  <p>
                    {{cloth.brand}}
                  </p>
                   <p>
                    {{cloth.price}}
                   </p>
                  <p>
                    {{cloth.type}}
                  </p>
                  <button>
                      Add To Cart
                  </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>