<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="col-2">
          <mat-card class="mt-5">
              <mat-card-content class="card-body">
                <button class="mt-5 btn-block" color="primary" mat-raised-button (click)="checkout(null)">I Have Cloth ready</button>
              </mat-card-content>
          </mat-card>
      </div>

      <div class="col-10" style="height: 100vh;overflow-y: auto;">
        
        <section class="top-img mt-5"></section>

          <p class="display-4 mt-5 ml-5">Select Cloth</p>
          <hr>
          <div>
              <div class="card-body">
                    <mat-card class="mt-5" *ngFor="let cloth of cloths">
                      <mat-card-content class="">
                          <div class="row">
                              <div class="col-md-3 img-div" [style.backgroundImage]="'url(http://localhost:3000/'+cloth.image+')'">
              
                              </div>
                              <div class="col-md">
                                  <div class="card-body">
                                  <p>
                                    {{cloth.name}}
                                    </p>
                                  <p>
                                    {{cloth.brand}}
                                  </p>
                                    <p>
                                    {{cloth.price}}
                                    </p>
                                  <p>
                                    {{cloth.type}}
                                  </p>
                                  <button mat-raised-button (click)="checkout(cloth)">
                                      Place Order
                                  </button>
                                  </div>
                              </div>
                          </div>
                      </mat-card-content>
                  </mat-card>
              </div>
          </div>
      </div>
  </div>
</div>