<div class="container">
    <mat-card>
        <img mat-card-image [src]="'assets/add-top.jpg'">
        <mat-card-content>
            <form [formGroup]="designform" (submit)="submitForm(designform.value)">
                <p class="h2 text-center">Upload Your Design</p>
                <hr class="mb-5">

                <mat-form-field appearance="outline" class="col-md">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                    <mat-error *ngIf="getControls().name.errors">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-md">
                    <mat-label>Name</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                    <mat-error *ngIf="getControls().description.errors">Name is required</mat-error>
                </mat-form-field>
                <input type="file" (change)="uploadImage($event)" multiple>
                <img [src] = "imgURL" style="height: 10rem;">

                <!-- <div class="row">
                    <div class="col-md-3" *ngFor="let image of imgURLs">
                        <img [src]="image" style="height: 5rem;">
                    </div>
                </div> -->

                <button color="primary" mat-button>Submit</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>