<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2">
            <mat-card class="mt-5">
                <mat-card-content class="card-body">
                    <p class="h4 text-center mt-5">OR</p>
                    <button class="mt-5 btn-block" mat-raised-button color="primary" [routerLink]="['/upload']" routerLinkActive="router-link-active" >Upload Design</button>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-10" style="height: 100vh;overflow-y: auto;">
            <section class="top-img">

            </section>
            <p class="display-4 mt-5 ml-5">Select your perfect design</p>
            <hr>
            <div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3 mt-4" *ngFor="let design of designs">
                            <mat-card (click)="selectDesign(design)">
                                <img mat-card-image [src]="'http://localhost:3000/design/'+design.images[0]">
                            
                                <mat-card-content class="card-body">
                                    <h2>{{design.name}}</h2>
                                    <!-- <h4>{{design.name}}</h4> -->
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>