<div class="container-fluid">
    <p class="display-4 text-center">Admin Dashboard</p>
    <hr>
    <div class="row justify-content-center">
        <div class="col-4" style="border-right: 1px solid rgb(170, 170, 170);">
            <mat-card>
                <mat-card-content>
                    <button mat-raised-button class="btn-block" (click)="toggleaddDesign()">
                        Add New Design
                    </button>
                    <button mat-raised-button class="btn-block" (click)="toggleaddCloth()">
                        Add New Cloth
                    </button>
                    <button mat-raised-button class="btn-block" (click)="togglemanageCloth()">
                        Manage Cloth
                    </button>
                    <button mat-raised-button class="btn-block" (click)="toggleaddDesign()">
                        Manage Design
                    </button>
                    <button mat-raised-button class="btn-block" (click)="toggleaddDesign()">
                        View Status
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
 
        <div class="col-8">
       <app-add-design *ngIf="showaddDesign"></app-add-design>     
       <app-addcloth *ngIf="showaddcloth"></app-addcloth>     
       <app-manage-cloth *ngIf="showmanagecloth"></app-manage-cloth>
        </div>
    </div>
</div>