.sidebar{
    background-image: linear-gradient(to bottom, rgb(0, 98, 30), rgb(164, 255, 17));
    height: 100vh;
    padding: 2rem;
}

.panel{
    background-color: rgb(245, 245, 245);
}

.ad-top{
    padding: 5rem;
    background-image: linear-gradient(to right bottom, rgb(241, 195, 255), rgb(132, 96, 138));
}