<div class="container top-con">
    <mat-card class="mb-2">
          <mat-card-content class="card-body">
                <p class="display-4 text-center">Sign Up as Guest</p>
          </mat-card-content>
    </mat-card>
     <mat-card id="main-card">
           <mat-card-content>
                <div class="row mt-5">
                      <div class="col-md-6">
                            <img src="assets/frontimg.jpeg" class="img-fluid">
                      </div>
          
                      <div class="col-md-6">
                            <form [formGroup]="userform" (submit)="userSubmit(userform.value)">
                                  <mat-form-field appearance="outline" style="font-size: small;" class="col-md-10">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Mr. Anderson" formControlName="name">
                                        <mat-error *ngIf="returnControls().name.errors">Name is Required</mat-error>
                                  </mat-form-field>
          
                                  <mat-form-field appearance="outline" style="font-size: small;" class="col-md-10">
                                        <mat-label>Username</mat-label>
                                        <input matInput placeholder="Mr. Anderson" formControlName="username">
                                        <mat-error *ngIf="returnControls().username.errors">Username is Required</mat-error>
                                  </mat-form-field>

                                  <mat-form-field appearance="outline" style="font-size: small;" class="col-md-10">
                                    <mat-label>Gender</mat-label>
                                    <input matInput placeholder="Mr. Anderson" formControlName="gender">
                                    <mat-error *ngIf="returnControls().gender.errors">Gender is Required</mat-error>
                              </mat-form-field>

                              <mat-form-field appearance="outline" style="font-size: small;" class="col-md-10">
                                <mat-label>Contact</mat-label>
                                <input matInput placeholder="Mr. Anderson" formControlName="contact">
                                <mat-error *ngIf="returnControls().contact.errors">Contact is Required</mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="outline" style="font-size: small;" class="col-md-10">
                            <mat-label>Address</mat-label>
                            <input matInput placeholder="Mr. Anderson" formControlName="address">
                            <mat-error *ngIf="returnControls().address.errors">Address is Required</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" style="font-size: small;" class="col-md-10">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Mr. Anderson" formControlName="email">
                        <mat-error *ngIf="returnControls().email.errors">Email is Required</mat-error>
                  </mat-form-field>

                                  <mat-form-field appearance="outline" style="font-size: small;" class="col-md-5">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="Mr. Anderson" formControlName="password" [type]="hide ? 'password' : 'text'">
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                        <mat-error *ngIf="returnControls().password.errors">Password is Required</mat-error>
                                  </mat-form-field>
          
                                  <mat-form-field appearance="outline" style="font-size: small;" class="col-md-5">
                                        <mat-label>Confirm</mat-label>
                                        <input matInput placeholder="Mr. Anderson" formControlName="confirm" [type]="hide ? 'password' : 'text'">
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                           </button>
                              <mat-error *ngIf="returnControls().confirm.errors">Passwords must match</mat-error>
                            </mat-form-field>

                            <div class="col-md-10">
                            <button mat-raised-button color="warn" class="ml-auto mt-3">Sign Up as Tourist</button>
                             </div>
                            </form>
                            <div class="col-md-10">
                           <button mat-button class="mt-4" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already Registered? Sign In</button>
                            </div>
                      </div>
                </div>
           </mat-card-content>
     </mat-card>
</div>
